<table class="table table-hover scroll">
  <thead class="thead-default">
    <tr>
      <th class="text-xs-center">&#x2713;</th>
      <th>#</th>
      <th>Name</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Fuel</th>
      <th>Plate</th>
      <th>Email</th>
      <th class="text-xs-center">Cancel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-xs-center">
        <input type="checkbox" unchecked>
      </td>
      <td>1</td>
      <td>Ime i prezime</td>
      <td>Ford</td>
      <td>Mustang</td>
      <td>1986</td>
      <td>Premium</td>
      <td>ZG-1000-HR</td>
      <td>email@email.com</td>
      <td class="text-xs-center"><button type="button" class="btn btn-sm btn-danger">X</button></td>
    </tr>
    <tr>
      <td class="text-xs-center">
        <input type="checkbox" unchecked>
      </td>
      <td>1</td>
      <td>Ime i prezime</td>
      <td>Ford</td>
      <td>Mustang</td>
      <td>1986</td>
      <td>Premium</td>
      <td>ZG-1000-HR</td>
      <td>email@email.com</td>
      <td class="text-xs-center"><button type="button" class="btn btn-sm btn-danger">X</button></td>
    </tr>
  </tbody>
</table>
