<div class="margintop">
  <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by Plate">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">?</button>
      </span>
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 float-xs-right">
    <div class="form-group">
      <select class="form-control" name="selectfilter">
        <option value="">All</option>
        <option value="">Pending</option>
        <option value="">Completed</option>
        <option value="">Cancelled</option>
      </select>
  </div>
</div>
</div>
