  <!-- <form>
    <div class="form-inline">
      <div class="input-group">
        <input type="searchplate" class="form-control" placeholder="Search by plate">
        <span class="input-group-addon">#</span>
      </div>
      <div class="form-group float-xs-right">
        <label for="make">Select</label>
        <select class="form-control" name="">
          <option value="">All</option>
          <option value="">Pending</option>
          <option value="">Completed</option>
          <option value="">Cancelled</option>
        </select>
      </div>
    </div>
  </form>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Done</th>
        <th>#</th>
        <th>Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Fuel</th>
        <th>Plate</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <input type="checkbox" checked="true">
        </td>
        <td>Ime i prezime</td>
        <td>Ford</td>
        <td>Mustang</td>
        <td>Premium</td>
        <td>ZG-1000-HR</td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
          <input type="checkbox" checked="true">
        </td>
        <td>Ime i prezime</td>
        <td>Ford</td>
        <td>Mustang</td>
        <td>Premium</td>
        <td>ZG-1000-HR</td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
          <input type="checkbox" checked="true">
        </td>
        <td>Ime i prezime</td>
        <td>Ford</td>
        <td>Mustang</td>
        <td>Premium</td>
        <td>ZG-1000-HR</td>
        <td><button type="button" class="btn btn-danger">X</button></td>
      </tr>
    </tbody>
  </table> -->
