
<nav class="container-fluid navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand text-white">Booster</a>
    <ul class="nav navbar-nav nav-pills float-xs-right">
      <li class="nav-item"><a routerLink="/customer" routerLinkActive="active">Customer</a></li>
      <li class="nav-item"><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- <a routerLink="/customer" routerLinkActive="active">Customer</a>
<a routerLink="/admin" routerLinkActive="active">Admin</a> -->
