/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/font-awesome/css/font-awesome.css'

.paddingtop
  padding-top: 20px

.margintop
  margin-top: 100px

.margintopinput
  margin-top: 20px

.formlabel
  height: 38px
  line-height: 38px

.color
  background: red

.reqform
  padding-top: 30px
  padding-bottom: 30px
  box-shadow: 3px 3px 3px 0px #ccc

.tablescroll
  overflow: scroll

.tag-active
  background: #0275d8

.tag-cancelled
  background: #c9302c

.tag-completed
  background: #5cb85c

.search
  transform: rotate(-45deg)

.marginbottom
  margin-bottom: 30px

.paddingbottom
  margin-bottom: 30px
