/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css'

.paddingtop
  padding-top: 20px

.margintop
  margin-top: 100px

.formlabel
  height: 38px
  line-height: 38px

.color
  background: red

.reqform
  padding-top: 30px
  padding-bottom: 30px

  &:first-child
    border: 1px solid grey

.scroll
  overflow: scroll
